.comic-img-index {
  width: auto;
  height: 70px;
}

.comic-img-show {
  width: auto;
  height: 600px;
}

.comic-title {
  font-family: 'Montserrat', sans-serif;
}

.comic-details {
  font-family: 'Unbounded', sans-serif;
}

.edition-img {
  width: auto;
  height: 300px;
  display: block;
  margin: 0 auto;
}
