.comic-img-index {
  width: auto;
  height: 70px;
}

.comic-img-show {
  width: 700px;
  height: auto;
}

.comic-title {
  font-family: 'Montserrat', sans-serif;
}

.comic-details {
  font-family: 'Unbounded', sans-serif;
}